html {
    font-family: "Roboto", sans-serif;
    padding-bottom: 64px;
}

.oldal{
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(179, 178, 178) 100%);
    margin-left: 11%;
    margin-right: 11%;
    height: 47rem;
    text-align: center;
    border-radius: 32px;
    background: #e0e0e0;
    box-shadow:  12px 12px 24px #bebebe,
             -12px -12px 24px #ffffff;
    overflow: hidden;
    margin-top: 64px;
}
 
.oldal > ol{
    margin: 0 auto;
    padding-left: 10em;
    padding-right: 10em;
}
 
.oldal > h1{
    margin: 0 auto;
}

#jobbkep{
    display: inline-flex;
    float: right;
    width: 25%;
}

#balkep{
    display: inline-flex;
    float: left;
    width: 25%;
}


@media only screen and (max-width: 600px) {
  .oldal > ol{    
      padding-left: 2em;
      padding-right: 2em;
  }
  .oldal{
      height: 150rem;
      border-bottom: solid 1px rgb(207, 203, 203);
  }
}
@media only screen and (max-width: 1000px) {
  
  .oldal > ol{
    padding-left: 4em;
    padding-right: 4em;
  }

  .oldal{
    height: 50rem;
    border-bottom: solid 1px rgb(207, 203, 203);
  }
}
@media only screen and (max-width: 800px) {
  .oldal > ol{
    padding-left: 4em;
    padding-right: 4em;
  }

  .oldal{ 
    height: 70rem;
    border-bottom: solid 1px rgb(207, 203, 203);
  }
}
 