.oldal{
    background-color: rgb(207, 203, 203);
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 0px;
    margin-bottom: 0px;
    border: solid 1px black;
    border-top: solid 1px;
}

.oldal > p{
    padding-left: 2em;
    padding-right: 2em;
}

.oldal > h1{
    padding-left: 1em;
}