.oldal{
    background: radial-gradient(circle, white 0%, rgb(179, 178, 178) 100%);
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 0px;
    margin-bottom: 0px;
    border: solid 3px black;
    border-top: solid 1px rgb(207, 203, 203);
}

.oldal > p{
    padding-left: 2em;
    padding-right: 2em;
    font-size: 150%;
}

.oldal > h1{
    padding-left: 1em;
}

.kep{
    margin-top: 7em;
    margin-bottom: 7em;
    display: flex;
    justify-content: space-around;
}

.kep > div > p{
    text-align: center;
    font-size: 2em;
}

.kep > div > img{
    width: 15em;
    height: 15em;
    border: 2px solid black;
    border-radius: 0%;
    box-shadow: 5px 5px 10px rgb(77, 77, 77);
}

@media screen and (max-width: 1000px) {
    .kep {
        flex-wrap: wrap;
    }
}