.menu{
    display: flex;
    background: rgb(130,68,178);
    background: linear-gradient(90deg, rgba(130,68,178,1) 0%, rgba(255,255,255,1) 100%);
}


.gombokdiv{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.logodiv{
    width: 50%;
}

.logo{
    float: right;
    height: 4.5em;
}

.menupont{
    padding: 2%;
    background-color: black;
    color: white;
    border-radius: 30%;
    transition-duration: 1s;
}

.menupont:hover{
    padding: 2.5% ;
    font-size: larger;
    background-color: white;
    color:black;
}


body{
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(205,202,202,1) 100%);
}



