body{
    margin: 0px;
}

.menu{
    display: flex;
    background: rgb(130,68,178);
    background: linear-gradient(90deg, rgba(130,68,178,1) 0%, rgba(255,255,255,1) 100%);
    margin-top: 0px;
}

.gombokdiv{
    padding-top: 1%;
    padding-bottom: 1%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.logodiv{
    width: 50%;
}

.logo{
    float: right;
    height: 8.2em;
}

.menupont{
    margin-top: 1.5%;
    text-align: center;
    width: 10em;
    padding: 2%;
    padding-top: 20%;
    background-color: black;
    color: white;
    border-radius: 15%;
    box-shadow: 2px 2px 10px rgb(77, 77, 77);
    height: 3em;
}

.menupont > a{
    color: white;
    text-decoration: none;
    border-radius: 30%;
    transition-duration: 0.5s;
}


.gombokdiv > a{
    color: white;
    text-decoration: none;
    border-radius: 30%;
    transition-duration: 0.5s;
    
}


.menupont:hover{
    padding: 2.5% ;
    color: black;
    background-color: rgb(145, 145, 145);
    padding-top: 20%;
    
}

.gombokdiv > a:hover{
    font-size: larger;
}


body{
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(205,202,202,1) 100%);
}



