.menu{
    background: rgb(130,68,178);
background: linear-gradient(90deg, rgba(130,68,178,1) 0%, rgba(255,255,255,1) 100%);
}

body{
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(205,202,202,1) 100%);
}