.tartalom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    padding: 16px;
}

h1 {
    text-align: center;
    text-decoration: blueviolet underline 0.1em;
}
.ajanlas {
    border: 1px solid black;
    width: 70%;
    background-color: white;
    display: flex;
    padding: 64px;
    justify-content: space-between;
    text-align: justify;
}

.ajanlas_szoveg {
    width: 50%;
}

.kep {
    width: 300px;
    height: 300px;
    text-align: center;
}

.kep > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 1px solid black;
}

.artabla {
    width: 30%;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    height: 100%;
}

.artabla_cim {
    width: 100%;
    border-bottom: 1px solid black;
}

.infok {
    background-color: white;
    border: 1px solid black;
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px;
}

li {
    padding: 16px;
    text-align: justify;
}

.gomb {
    width: 50%;
    padding: 16px;
    border-radius: 16px;
    background-color: #51B755;
    cursor: pointer;
}

table{
    margin: 0px auto;
    width: 100%;
    height: 100%;
    font-size: 200%;

}


td{
    background: radial-gradient(circle, rgb(167, 167, 167) 0%, rgb(255, 255, 255) 100%);
    width: 60%;
    margin-right: 200px;
    border-right: solid 1px  rgb(226, 225, 225);
}

sup{
    font-style: italic;
    font-size: 50%;
    background: linear-gradient(right, rgb(226, 128, 128) 0%, rgb(196, 196, 153) 100%);
}

.ar{
    width: 40%;
    border: 0px;
}

@media screen and (max-width: 1000px) {
  .ajanlas {
      flex-direction: column;
      align-items: center;
      width: 70%;
  }

  .ajanlas_szoveg {
      width: 80%;
  }
  .artabla {
      width: 70%;
  }
  .infok {
      width: 70%;
  }
}