html {
    font-family: "Roboto", sans-serif;
}

.tartalom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 32px;
    padding: 16px;
}

.kartya {
    width: 22%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 32px;
    background: #e0e0e0;
    box-shadow:  12px 12px 24px #bebebe,
             -12px -12px 24px #ffffff;
    transition: 0.3s;
}

.kartya:hover {
    box-shadow:  12px 12px 24px #5e5e5e,
             -12px -12px 24px #ffffff;
}

.kartya > p {
    text-align: justify;
    padding: 16px;
}

.gomb {
    width: 50%;
    padding: 16px;
    border-radius: 16px;
    background-color: #51B755;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 16px;
}

a{
    color:black;
    text-decoration: none;
}
.kep{
    margin-top: 16px;
    width: 90%;
}

.kep > img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 32px;
}

.kocsidiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.szamlalo {
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
}

@media only screen and (max-width: 1000px) {
    .kartya {
        width: 30%;
    }
}

@media only screen and (max-width: 800px) {
    .kartya {
        width: 45%;
    }
}

@media only screen and (max-width: 600px) {
    .kartya {
        width: 100%;
    }

    .kocsidiv > img {
        display: none;
    }
}